$primaryColor: #6754E3;
$textColor: #0D123A;
$grayTextColor: #8A8D92;
$backgroundColor: #FBFAFF;
$bgColorFooter: #423C86;
$grayTextColorFooter: #A8A3E5;
$lineHeightParag: 28px;

$fontFamily: "Poppins", 'Source Sans Pro', sans-serif;